<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.mapper.VModelFieldMapper">

	<resultMap id="BaseResultMap" type="com.duan.domain.VModelField">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="modelid" jdbcType="VARCHAR" property="modelid" />
		<result column="fieldid" jdbcType="VARCHAR" property="fieldid" />
		<result column="defaultunit" jdbcType="VARCHAR"
			property="defaultunit" />
		<result column="defaultcycle" jdbcType="VARCHAR"
			property="defaultcycle" />
		<result column="paramtype" jdbcType="VARCHAR"
			property="paramtype" />
		<result column="defaultfactor" jdbcType="DECIMAL"
			property="defaultfactor" />
		<result column="inventedparametertype" jdbcType="INTEGER"
			property="inventedparametertype" />
	</resultMap>

	<sql id="Base_Column_List">
		id, fieldid,modelid,name, defaultunit, defaultcycle, paramtype,
		defaultfactor, inventedparametertype
	</sql>
	<select id="getByName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from v_model_field
		where name = #{name,jdbcType=VARCHAR}
	</select>
	<select id="getFieldListByMeterId" parameterType="String"
		resultType="VCollectfield">
		SELECT
	      *
		FROM
		v_collectfield
		WHERE
		meterId = #{meterId}
	</select>
	<delete id="deleteBatchByIds">
		DELETE FROM
		d_field_model
		WHERE
		id
		IN
		<foreach collection="ids" item="id" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
</mapper>