<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.mapper.DCollectConfigMapper">
  
<resultMap id="BaseResultMap" type="com.duan.domain.DCollectConfig">
  <id column="id" jdbcType="VARCHAR" property="id" />
  <result column="meterid" jdbcType="VARCHAR" property="meterid" />
  <result column="fieldid" jdbcType="VARCHAR" property="fieldid" />
  <result column="cycle" jdbcType="INTEGER" property="cycle" />
  <result column="factor" jdbcType="DECIMAL" property="factor" />
  <result column="unit" jdbcType="VARCHAR" property="unit" />
  <result column="data1" jdbcType="VARCHAR" property="data1" />
  <result column="data2" jdbcType="VARCHAR" property="data2" />
  <result column="protocolid" jdbcType="VARCHAR" property="protocolid" />
  <result column="parseid" jdbcType="VARCHAR" property="parseid" />
</resultMap>
  
<sql id="Base_Column_List">
  id, meterid, fieldid, cycle, factor, unit, data1, data2, protocolid, parseid
</sql>
 <delete id="deleteBatchByIds">
		DELETE FROM
			d_collect_config
		WHERE 
			id 
		IN
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
</mapper>